<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <!-- <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern> 
  </servlet-mapping>-->
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<servlet-class>com.controller.LoginController</servlet-class>
	<init-param>
		<param-name>adminEmail</param-name>
		<param-value>admin@gmail.com</param-value>
	</init-param>
	<init-param>
	<param-name>adminPassword</param-name>
	<param-value>12345</param-value>
	</init-param>
  </servlet>
 
	<context-param>
		<param-name>globalEmail</param-name>
		<param-value>global@gmail.com</param-value>
	</context-param>	
	<context-param>
		<param-name>globalPassword</param-name>
		<param-value>54321</param-value>
	</context-param>
	<session-config>



<session-timeout>1</session-timeout>


</session-config>
	<listener>
	<listener-class>com.listener.SessionCountListener</listener-class>
	</listener>
</web-app>